In [1]:
# run imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
#Read in data

police = pd.read_csv('fatal-police-shootings-data.csv')

In [13]:
police.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True

In [14]:
police.tail()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
6027,6573,NaN,2021-02-06,shot,gun,NaN,M,NaN,Sarasota,FL,False,attack,Not fleeing,False,-82.522,27.328,True
6028,6584,NaN,2021-02-06,shot,gun,23.0,M,NaN,Mesa,AZ,True,other,Not fleeing,False,-111.875,33.408,True
6029,6586,Anthony Greco,2021-02-06,shot,gun,29.0,M,NaN,Phoenix,AZ,False,attack,Foot,False,-112.151,33.596,True
6030,6567,NaN,2021-02-07,shot,hatchet,NaN,M,NaN,Lacy Lakeview,TX,False,other,Foot,False,-97.090,31.643,True
6031,6570,NaN,2021-02-07,shot,gun,NaN,M,NaN,Bettendorf,IA,False,other,Not fleeing,False,-90.517,41.534,True

In [4]:
# check for null values

police_s.isnull().sum()

id                           0
name                       230
date                         0
manner_of_death              0
armed                      210
age                        276
gender                       1
race                       623
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                       344
body_camera                  0
longitude                  294
latitude                   294
is_geocoding_exact           0
dtype: int64

In [5]:
police_s.shape

(6032, 17)

In [6]:
police_s.describe()

                id          age    longitude     latitude
count  6032.000000  5756.000000  5738.000000  5738.000000
mean   3344.378647    37.167477   -97.233456    36.652464
std    1887.236003    13.058384    16.626978     5.377241
min       3.000000     6.000000  -158.137000    19.498000
25%    1706.750000    27.000000  -112.116750    33.469250
50%    3350.500000    35.000000   -94.385500    36.097000
75%    4989.250000    46.000000   -83.069750    39.972000
max    6587.000000    91.000000   -68.014000    71.301000

In [8]:
young = police_s[police_s['age'] < 16]

In [11]:
young.sort_values(by='age')

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
833,980,Jeremy Mardis,2015-11-03,shot,unarmed,6.0,M,W,Marksville,LA,False,other,Car,True,-92.050,31.125,True
2907,3229,Kameron Prescott,2017-12-21,shot,unarmed,6.0,M,W,Schertz,TX,False,other,Not fleeing,False,-98.257,29.552,True
1017,1165,Ciara Meyer,2016-01-11,shot,unarmed,12.0,F,W,Penn Township,PA,False,other,Not fleeing,False,-77.034,40.398,True
1681,1883,Tyre King,2016-09-14,shot,toy weapon,13.0,M,B,Columbus,OH,False,other,Foot,False,-82.987,39.963,True
3983,4386,Antonio Arce,2019-01-15,shot,toy weapon,14.0,M,H,Tempe,AZ,False,other,Foot,True,NaN,NaN,True
1588,1776,Jesse James Romero,2016-08-09,shot,gun,14.0,M,H,Los Angeles,CA,False,attack,Foot,True,-118.215,34.038,True
2804,3117,Jason Ike Pero,2017-11-08,shot,knife,14.0,M,N,Odanah,WI,False,other,Not fleeing,False,-90.650,46.597,True
435,551,Zane Terryn,2015-06-14,shot,gun,15.0,M,W,Cocoa,FL,True,attack,Not fleeing,False,-80.792,28.360,True
3624,3977,Spencer Mendez,2018-08-18,shot,gun,15.0,M,H,Ceres,CA,False,other,Other,True,-120.801,37.580,True
2842,3154,Seth William Johnson,2017-11-20,shot,knife,15.0,M,W,Gulfport,MS,False,undetermined,Not fleeing,False,-89.140,30.451,True
2654,2950,Ruben Urbina,2017-09-15,shot,crowbar,15.0,M,H,Haymarket,VA,False,other,Not fleeing,False,-77.662,38.810,True
2552,3060,Kemonte Cobbs,2017-08-03,shot,gun,15.0,M,B,Gary,IN,False,attack,Foot,False,-87.401,41.583,True
2283,2538,Jordan Edwards,2017-04-29,shot,unarmed,15.0,M,B,Balch Springs,TX,False,undetermined,Not fleeing,True,-96.615,32.712,True
5015,5456,Abdirahman Salad,2020-01-30,shot,gun,15.0,M,B,Columbus,OH,False,attack,Not fleeing,False,-82.913,39.972,True
2271,2714,Daezion Turner,2017-04-24,shot,gun,15.0,M,B,Killeen,TX,False,attack,Not fleeing,False,NaN,NaN,True
1850,2054,Luke Smith,2016-11-19,shot and Tasered,knife,15.0,M,A,Watsonville,CA,False,other,Foot,True,-121.791,36.971,True
1297,1477,Jorevis Scruggs,2016-04-19,shot,gun,15.0,M,B,St. Louis,MO,False,attack,Other,False,-90.219,38.654,True
776,916,Jorge Santiago Tapia,2015-10-15,shot,gun,15.0,M,H,Miami,FL,False,attack,Car,False,-80.413,25.507,True
596,715,Andre Green,2015-08-09,shot,NaN,15.0,M,B,Indianapolis,IN,False,attack,Not fleeing,False,-86.080,39.817,True
2299,2557,Jacob Peterson,2017-05-06,shot,toy weapon,15.0,M,W,San Diego,CA,True,attack,Not fleeing,True,-117.226,32.957,True
5841,6337,Stavian Rodriguez,2020-11-23,shot,gun,15.0,M,H,Oklahoma City,OK,False,other,NaN,False,-97.530,35.388,True